In [42]:
import pandas as pd
import pandasql as pdsql
from datetime import datetime
import matplotlib
import matplotlib.pyplot as plt

pysql = lambda q: pdsql.sqldf(q, globals())

In [53]:
number = 20
attribute = 'host'


data = pd.read_csv('data/Joined Datasets/joined_unexplained_IsNull.csv')
data['date'] = pd.to_datetime(data['date'])
data['vt_query'] = pd.to_datetime(data['vt_query'])


sql_query = """ SELECT {att}, COUNT(*) as frequency FROM data GROUP BY {att} ORDER BY frequency DESC LIMIT {num};""".format(num=number, att=attribute)


print (sql_query)

clapks = pysql(sql_query)
clapks

 SELECT host, COUNT(*) as frequency FROM data GROUP BY host ORDER BY frequency DESC LIMIT 20;

                                    host  frequency
0                                   None         30
1                         128.192.72.214         26
2                  net.bethesda.launcher         10
3               com.kaspersky.geo.dnl-11          7
4                         110.45.186.221          6
5                        203.205.151.214          6
6                         199.101.98.242          2
7                     com.avast.emupdate          2
8                    com.oracle.sdlc-esd          2
9                          com.qq.dl_dir          2
10    net.microsoftonline-p.clientconfig          2
11                          103.7.29.239          1
12                           103.7.29.26          1
13                         128.192.20.53          1
14                com.aliyun.miserupdate          1
15                          com.ati.www2          1
16  com.blackdesertonline.akamai-gamecdn          1
17        com.elderscrollsonline.patcher          1
18        com.gvt1.r3---sn-nv0uixgo-5uae          1
19                    com.ibm.dhe.public          1